section {
	margin: 2rem;
  }
  
  .splide__slide {
	background-color: tomato;
	padding: 6rem 2rem;
	text-align: center;
	font-size: 2rem;
  }
  
  #second-slider .splide__slide {
	background-color: BlueViolet;
  }
  